.title {
    padding-top: 100px;
}

.bg-negocios {
    background-color: #cc0e4e;
    color: white;
}

.whatsapp {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100px;
    height: auto;
    z-index: 1000;
}

.letra-roja {
    color: #cc0e4e;
}